<div class="page-header">
  <h1>
    Doctors
    <a href="/doctors/new" class="btn btn-lg btn-success">New Doctor</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Actions</th>
      </tr>

      <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.email %></td>
        <td><%= doctor.password %></td>
        <td>
          <a href="/doctors/<%= doctor.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
